[defaults]
callbacks_enabled = profile_tasks, profile_roles
stdout_callback = yaml
task_output_limit = 10
collections_path = ./collections
force_color = True
roles_path = ./playbooks/roles:./playbooks/compute/roles:./playbooks/infra/roles

[ssh_connection]
retries = 3
ssh_args = "-o UserKnownHostsFile=./.ansible_known_hosts -o StrictHostKeyChecking=accept-new -o ServerAliveInterval=30 -o ServerAliveCountMax=10 -o ConnectTimeout=30 -o GSSAPIAuthentication=no"
control_path = %(directory)s/%%h-%%r
control_path_dir = ~/.ansible/cp
